body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1439px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1438px;
}
#u1773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:955px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:954px;
}
#u1775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:252px;
  word-wrap:break-word;
}
#u1776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:1374px;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:256px;
  height:1373px;
}
#u1776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:127px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:127px;
  width:256px;
  height:126px;
}
#u1777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:121px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:120px;
}
#u1778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:62px;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:256px;
  height:61px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1780_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:24px;
  width:204px;
  word-wrap:break-word;
}
#u1781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:14px;
  height:13px;
}
#u1781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:93px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1783_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:53px;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:256px;
  height:52px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1785_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:265px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:263px;
  width:14px;
  height:14px;
}
#u1787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:256px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1789_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:55px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1791_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:318px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:320px;
  width:14px;
  height:12px;
}
#u1793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:55px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:353px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:372px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:373px;
  width:14px;
  height:14px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:55px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:407px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:427px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:427px;
  width:14px;
  height:14px;
}
#u1801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:55px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:461px;
  width:256px;
  height:54px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:481px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:482px;
  width:14px;
  height:12px;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:65px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:22px;
  width:63px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:88px;
  width:33px;
  height:33px;
  overflow:hidden;
}
#u1814_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1814_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:1372px;
  width:70px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1372px;
  width:70px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:1372px;
  width:30px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1393px;
  width:199px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:8px;
  width:195px;
  white-space:nowrap;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:1406px;
  width:12px;
  height:12px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1393px;
  width:72px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:68px;
  white-space:nowrap;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1325px;
  width:48px;
  height:48px;
  opacity:0;
  color:#FFFFFF;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:1422px;
  width:16px;
  height:16px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  word-wrap:break-word;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:56px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:64px;
  width:1184px;
  height:55px;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:65px;
  width:209px;
  height:54px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:209px;
  white-space:nowrap;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:1228px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:134px;
  width:1161px;
  height:1227px;
  color:#0000FF;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
